<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <style>
        #LogoIMG {
            width: 250px;
            height: 95px;
            position: fixed;
            top: 0.5em;
            left: 43%;
            z-index: -1;
        }

        .back-top {
            position: fixed;
        }

        #Cart {
            position: fixed;
            right: 12%;
            top: 3em;
            font-size: 1em;
            color: black !important;
            background-color: #357ebd !important;
        }

        #_LoginPartial {
            position: fixed;
            left: 10%;
            top: 5em;
            z-index: -5;
            font-size: 1em;
            color: black !important;
            background-color: #357ebd !important;
        }

        .homecolor {
            + color:black;
            + font-size:20px;
            +
        }


        #SearchInput {
            position: fixed;
            right: 12%;
            top: 6em;
        }


        #SearchBtn {
            position: fixed;
            right: 12%;
            top: 6em;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="font-family:微軟正黑體; background-color:rgb(250, 250, 250)">


    <div class="container-fluid navbar navbar-inversewh navbar-fixed-top" style="z-index: 9; background-color:white; border-bottom-color:rgb(210, 210, 210)">
        <div class="row mb-5">
            <div class="col-4">
                <div class="LoginPr" id="_LoginPartial" style="z-index:99;">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="col-4">
                <div class="top-logo">
                    <img src="~/image/logo.jpg" id="LogoIMG">

                </div>

            </div>
            <div class="col-4">
                <div>
                    <div class="navbar-fixed-top" id="_CartPartial">
                        <span id="Cart" style="z-index: 2;  border-radius:5px 5px; color:black;">
                            @* 把button移到CartPartial *@
                            @*<button type="button" class="btn btn btn-secondary">.*@
                            @Html.Partial("_CartPartial")
                            @*</button>*@

                        </span>

                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="SearchInput" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="SearchBtn">查詢</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10%; margin-left:30%">
            <div class="col">
                <ul class="nav navbar-nav" style="width:600px;">

                    <li>
                        @Html.ActionLink("首頁", "Index", "Home", new { }, new { @class = "homecolor" })

                    </li>

                    <li>
                        @Html.ActionLink("關於", "About", "Home", new { }, new { @class = "homecolor" })

                    </li>

                    <li>
                        @Html.ActionLink("連絡方式", "Contact", "Home", new { }, new { @class = "homecolor" })

                    </li>

                    <li>
                        @Html.ActionLink("商品管理", "Index", "Product", new { }, new { @class = "homecolor" })

                    </li>

                    <li>
                        @Html.ActionLink("會員管理", "Index", "ManageUser", new { }, new { @class = "homecolor" })

                    </li>

                    <li>
                        @Html.ActionLink("訂單管理", "Index", "ManageOrder", new { }, new { @class = "homecolor" })

                    </li>

                </ul>

            </div>

        </div>
    </div>
    </body>
    </html>