@using Microsoft.AspNet.Identity
<style>
    #registerLink {
        color: black;
    }

    #loginLink {
        color: black;
    }
</style>
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left" style="background-color:white; color:black;">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("我的訂單", "MyOrder", "Order", routeValues: null, htmlAttributes: new { title = "Order" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" style=" color:black;">登出</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">

        <li>
            <button type="button" class="btn btn btn-secondary"><i class="fa fa-registered" aria-hidden="true"></i>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
        </li>


        <li><button type="button" class="btn btn btn-secondary" style="margin-left:1%;"><i class="fa fa-sign-in" aria-hidden="true"></i>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </button></li>

    </ul>
}